/* Navegação */

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #aa1d1dad;
}

nav > img {
     display: flex;
     width: 20%;

}

nav ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 100%;

}


nav ul li {
	text-align: center;
	width: 100%;
}

nav ul li a {
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	text-decoration: none;
	color: #FFFFFF;
}



body {
	background-image: url("BGpaginaweb.png");
    background-size: cover;
	text-align: center;
    font-family: Staatliches, sans-serif;
}

#vez{
margin-bottom: 20px;
}

#res{
	
	color: transparent;
	font-size: 4vh;
	
}

main{
margin-top: 25px;
}

h1{
    padding-top: 40px;
}

input {
	color: transparent;/* Cor do "-" que tem dentro do quadrado antes de indicar qual o jogador que selecionou fica TRANSPARENTE aquele quadrado. */
	background-color:#ffffff;
	font-size: 6vw; /* Tamanho da fonte na largura da vista. */
	width: 8vw; /*Largura. */
	height:8vw;/*Altura. */
	border-radius: 10px; /* Determinara a dobra nas pontas dos quadrados. */
	border-color: #98ee52; /*Cor da Borda. */
	margin: 5px; /* Espaço "Lado a Lado" que um quadrado tem com o outro. */
}


#reiniciar {
	margin-top: 2%;
	margin-bottom: 5px;
	width: 12vw;
	height:6vw;
	font-size: 1.3em;
	font-family: Staatliches, sans-serif;
	color: rgb(255, 255, 255);
    border-radius: 25px;
	border: none;
	background: #aa1d1dad;
	cursor: pointer;
	border-radius: 30px 10px;
}


  #reiniciar:hover {
	background-color: #98ee52; 
	color: rgb(20, 18, 18);
  }


  @media screen and (min-width:768px){

	/*nav*/

	nav{
		flex-direction: row;
		justify-content: space-around;

	}

	nav ul{
		flex-direction: row;
		width: 70%;
	}
  }